.active-status {
    background-color: rgb(15, 184, 15); /* Màu xanh cho trạng thái 'Hoạt động' */
  color: white;
  font-size: 12pt;
  border-radius: 10%;
  padding: 10px 10px  10px 10px;
}
  
  .inactive-status {
    background-color: red; /* Màu đỏ cho trạng thái 'Không hoạt động' và mặc định */
    color: white;
    font-size: 12pt;
    border-radius: 10%;
    // padding: 10px 10px  10px 10px;

  }
  .other-status {
    background-color: red;
    background-color:darkgrey;

  }
  
  .pagination {
    display: flex;
    justify-content: center;
  }