@import 'normalize.css';
// - color: đặt màu cho văn bản bên trong phần tử.
// - font-size: đặt kích thước chữ cho văn bản bên trong phần tử.
// - background-color: đặt màu nền cho phần tử.
// - padding: đặt khoảng cách giữa nội dung và viền của phần tử.
// - margin: đặt khoảng cách giữa phần tử hiện tại và các phần tử xung quanh.
// - border: đặt đường viền cho phần tử.
// - text-align: căn chỉnh văn bản bên trong phần tử theo chiều ngang.
// - text-decoration: đặt các hiệu ứng trang trí cho văn bản bên trong phần tử.
// - display: đặt kiểu hiển thị cho phần tử (block, inline,...).
// - width: đặt chiều rộng của phần tử.
// - height: đặt chiều cao của phần tử.
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #8890b5;
}
