USE [FashionBagsEcommerceDB]
GO
/****** Object:  Table [dbo].[bill_details]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_details](
	[bill_detail_id] [uniqueidentifier] NOT NULL,
	[bill_id] [uniqueidentifier] NULL,
	[product_detail_id] [uniqueidentifier] NULL,
	[product_detail_amount] [int] NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_bill_detail] PRIMARY KEY CLUSTERED 
(
	[bill_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bills]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bills](
	[bill_id] [uniqueidentifier] NOT NULL,
	[staff_id] [uniqueidentifier] NULL,
	[customer_id] [uniqueidentifier] NULL,
	[voucher_id] [uniqueidentifier] NULL,
	[bill_code] [nvarchar](50) NULL,
	[bill_create_date] [datetime] NULL,
	[bill_date_payment] [datetime] NULL,
	[bill_ship_date] [datetime] NULL,
	[bill_receiver_date] [datetime] NULL,
	[bill_total_price] [float] NULL,
	[balo_amount] [int] NULL,
	[bill_price_after_voucher] [float] NULL,
	[shipping_address] [nvarchar](50) NULL,
	[billing_adress] [nvarchar](50) NULL,
	[receiver_name] [nvarchar](50) NULL,
	[ship_price] [float] NULL,
	[order_email] [nvarchar](50) NULL,
	[order_phone] [nvarchar](50) NULL,
	[payment_method] [int] NULL,
	[bill_note] [nvarchar](50) NULL,
	[bill_status] [int] NULL,
 CONSTRAINT [PK_bill] PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[brand_id] [uniqueidentifier] NOT NULL,
	[brand_code] [varchar](20) NULL,
	[brand_name] [nvarchar](50) NULL,
	[brand_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buckle_types]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buckle_types](
	[buckle_type_id] [uniqueidentifier] NOT NULL,
	[buckle_type_code] [varchar](20) NULL,
	[buckle_type_name] [nvarchar](50) NULL,
	[buckle_type_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[buckle_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_details]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_details](
	[cart_id] [uniqueidentifier] NOT NULL,
	[product_detail_id] [uniqueidentifier] NOT NULL,
	[cart_amount] [int] NULL,
	[price] [float] NULL,
	[price_after_discount] [float] NULL,
 CONSTRAINT [PK_cart_detail] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC,
	[product_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[cart_id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NULL,
	[cart_code] [nvarchar](50) NULL,
	[cart_create_time] [datetime] NULL,
	[cart_payment_time] [datetime] NULL,
	[cart_note] [nvarchar](50) NULL,
	[cart_status] [int] NULL,
 CONSTRAINT [PK_cart] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colors]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colors](
	[color_id] [uniqueidentifier] NOT NULL,
	[color_code] [varchar](20) NULL,
	[color_name] [nvarchar](50) NULL,
	[color_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compartments]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compartments](
	[compartment_id] [uniqueidentifier] NOT NULL,
	[compartment_code] [varchar](20) NULL,
	[compartment_name] [nvarchar](50) NULL,
	[compartment_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[compartment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [uniqueidentifier] NOT NULL,
	[customer_points] [int] NULL,
	[user_id] [uniqueidentifier] NULL,
	[customer_status] [int] NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history_shift_bill]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history_shift_bill](
	[history_shift_bill_id] [uniqueidentifier] NOT NULL,
	[bill_id] [uniqueidentifier] NULL,
	[shift_staff_id] [uniqueidentifier] NULL,
	[money] [float] NULL,
	[history_shift_bill_note] [nvarchar](50) NULL,
	[create_time] [datetime] NULL,
	[history_shift_bill_status] [int] NULL,
 CONSTRAINT [PK_history_shift_bill] PRIMARY KEY CLUSTERED 
(
	[history_shift_bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[images]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[images](
	[image_id] [uniqueidentifier] NOT NULL,
	[image_code] [varchar](20) NULL,
	[image_name] [nvarchar](50) NULL,
	[image_url] [nvarchar](max) NULL,
	[product_detail_id] [uniqueidentifier] NULL,
	[isPrimary] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materials]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materials](
	[material_id] [uniqueidentifier] NOT NULL,
	[material_code] [varchar](20) NULL,
	[material_name] [nvarchar](50) NULL,
	[material_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producers]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producers](
	[producer_id] [uniqueidentifier] NOT NULL,
	[producer_code] [varchar](20) NULL,
	[producer_name] [nvarchar](50) NULL,
	[producer_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[producer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_details]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_details](
	[id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NULL,
	[color_id] [uniqueidentifier] NULL,
	[type_id] [uniqueidentifier] NULL,
	[material_id] [uniqueidentifier] NULL,
	[size_id] [uniqueidentifier] NULL,
	[compartment_id] [uniqueidentifier] NULL,
	[buckle_type_id] [uniqueidentifier] NOT NULL,
	[producer_id] [uniqueidentifier] NULL,
	[import_price] [float] NULL,
	[retail_price] [float] NULL,
	[amount] [int] NULL,
	[describe] [nvarchar](max) NULL,
	[product_detail_status] [int] NULL,
 CONSTRAINT [PK_product_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [uniqueidentifier] NOT NULL,
	[product_code] [varchar](20) NULL,
	[product_name] [nvarchar](50) NULL,
	[product_status] [int] NULL,
	[brand_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK__balo__3213E83F936392EB] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [uniqueidentifier] NOT NULL,
	[role_code] [varchar](50) NULL,
	[role_name] [nvarchar](50) NULL,
	[role_status] [int] NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shift_staffs]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shift_staffs](
	[shift_staff_id] [uniqueidentifier] NOT NULL,
	[shift_staff_code] [nvarchar](50) NULL,
	[shift_staff_start_time] [datetime] NULL,
	[shift_staff_end_time] [datetime] NULL,
	[shift_staff_create_date] [date] NULL,
	[shift_first_money] [float] NULL,
	[bill_total_money] [float] NULL,
	[shift_total_money] [float] NULL,
	[note] [nvarchar](50) NULL,
	[shift_staff_status] [int] NULL,
	[shift_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_shift_staff] PRIMARY KEY CLUSTERED 
(
	[shift_staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shifts]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shifts](
	[shift_id] [uniqueidentifier] NOT NULL,
	[shift_code] [nvarchar](50) NULL,
	[shift_start_time] [datetime] NULL,
	[shift_end_time] [datetime] NULL,
	[create_by] [nvarchar](50) NULL,
	[shift_status] [int] NULL,
	[note] [nvarchar](50) NULL,
	[staff_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_shift] PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sizes]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sizes](
	[size_id] [uniqueidentifier] NOT NULL,
	[size_code] [varchar](20) NULL,
	[size_name] [nvarchar](50) NULL,
	[size_length] [nvarchar](100) NULL,
	[size_width] [nvarchar](100) NULL,
	[size_height] [nvarchar](100) NULL,
	[size_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staffs]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staffs](
	[staff_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[staff_status] [int] NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[types]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[types](
	[type_id] [uniqueidentifier] NOT NULL,
	[type_code] [varchar](20) NULL,
	[type_name] [nvarchar](50) NULL,
	[type_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [uniqueidentifier] NOT NULL,
	[full_name] [nvarchar](30) NULL,
	[birthday] [date] NULL,
	[account] [nvarchar](50) NULL,
	[password] [nvarchar](100) NULL,
	[phone_number] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[userinfo_status] [int] NULL,
	[gender] [bit] NULL,
	[role_id] [uniqueidentifier] NULL,
	[address] [nvarchar](100) NULL,
	[note] [nvarchar](100) NULL,
 CONSTRAINT [PK__user__3213E83FBB77C5D3] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher_bills]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher_bills](
	[voucher_bill_id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NULL,
	[voucher_id] [uniqueidentifier] NULL,
	[bill_id] [uniqueidentifier] NULL,
	[before_price] [float] NULL,
	[after_price] [float] NULL,
	[discount_price] [float] NULL,
	[create_date] [datetime] NULL,
 CONSTRAINT [PK_voucher_bill] PRIMARY KEY CLUSTERED 
(
	[voucher_bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vouchers]    Script Date: 23/10/2023 5:30:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[id] [uniqueidentifier] NOT NULL,
	[voucher_code] [nvarchar](50) NULL,
	[voucher_name] [nvarchar](50) NULL,
	[discount_price] [int] NULL,
	[voucher_create_date] [datetime] NULL,
	[voucher_type] [nvarchar](50) NULL,
	[points_to_receive] [int] NULL,
	[payment_type] [nvarchar](50) NULL,
	[voucher_amount] [int] NULL,
	[voucher_start_time] [datetime] NULL,
	[voucher_end_time] [datetime] NULL,
	[note] [nvarchar](50) NULL,
	[voucher_status] [int] NULL,
	[voucher_bill_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_voucher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[bill_details] ([bill_detail_id], [bill_id], [product_detail_id], [product_detail_amount], [price]) VALUES (N'cd47709e-66a6-4ce6-a154-004775b7904a', N'7bc34c90-72af-42ce-a009-5d337970c05d', N'0277a1e9-99fa-4dd6-a10e-8ab0b712e224', 253, 512)
INSERT [dbo].[bill_details] ([bill_detail_id], [bill_id], [product_detail_id], [product_detail_amount], [price]) VALUES (N'282f3a92-9d2e-4be6-a141-0374f804a01c', N'a9145388-5d4f-4a6f-be5c-01468c02debc', N'19d46a79-4ad0-4216-b703-617f319cad75', 536, 2532)
INSERT [dbo].[bill_details] ([bill_detail_id], [bill_id], [product_detail_id], [product_detail_amount], [price]) VALUES (N'e04bfcbd-27ec-4f52-b0e8-049e77618f37', N'28f647a7-2d4e-4c0c-a074-ca50b6899766', N'25273a52-3c91-420e-9d70-beec006ed505', 844, 880)
GO
INSERT [dbo].[brands] ([brand_id], [brand_code], [brand_name], [brand_status]) VALUES (N'e2441185-aa47-4a0e-be2c-183268555857', N'brand009', N'Filalll', 1)
INSERT [dbo].[brands] ([brand_id], [brand_code], [brand_name], [brand_status]) VALUES (N'13816aea-2893-4aab-8524-22af48e0fae3', N'brand007', N'MLB', 1)
INSERT [dbo].[brands] ([brand_id], [brand_code], [brand_name], [brand_status]) VALUES (N'88da4ee6-61f1-45fa-937c-53a8ffa04fdd', N'brand 106', N'friday', 1)
GO
INSERT [dbo].[buckle_types] ([buckle_type_id], [buckle_type_code], [buckle_type_name], [buckle_type_status]) VALUES (N'3322de6c-d439-4f5c-9bb0-01f5f5e62580', N'bt002', N'Khóa Nhôm', 1)
INSERT [dbo].[buckle_types] ([buckle_type_id], [buckle_type_code], [buckle_type_name], [buckle_type_status]) VALUES (N'3d25dbe2-bba9-48aa-96a6-09543de069dc', N'bt0014', N'Khóa mạ vàng', 1)
INSERT [dbo].[buckle_types] ([buckle_type_id], [buckle_type_code], [buckle_type_name], [buckle_type_status]) VALUES (N'85237910-7cf8-43cf-aa27-0d1d5c77530e', N'bt001', N'Khóa Dây', 1)
GO
INSERT [dbo].[cart_details] ([cart_id], [product_detail_id], [cart_amount], [price], [price_after_discount]) VALUES (N'e4e81db6-8f3a-4387-86f8-09e2ea80978b', N'50a0d464-206e-4fb7-b2be-009a62451fc2', 10, 1000000, 500)
INSERT [dbo].[cart_details] ([cart_id], [product_detail_id], [cart_amount], [price], [price_after_discount]) VALUES (N'c74b1810-6fa2-4965-b96c-188efef93d5b', N'176013b3-2290-4a90-9f3e-62a83f6eae7b', 30, 6770000, 7800)
INSERT [dbo].[cart_details] ([cart_id], [product_detail_id], [cart_amount], [price], [price_after_discount]) VALUES (N'757720a4-6d2b-4654-9f0f-34859e42737c', N'7ce54f90-56fa-42f6-9209-2a30eefb1b36', 11, 200000, 10000)
GO
INSERT [dbo].[carts] ([cart_id], [customer_id], [cart_code], [cart_create_time], [cart_payment_time], [cart_note], [cart_status]) VALUES (N'e4e81db6-8f3a-4387-86f8-09e2ea80978b', N'9ca6fb71-ac36-444c-85ed-025c36411af8', N'cart01', CAST(N'2022-01-02T12:03:07.000' AS DateTime), CAST(N'2023-04-07T04:08:11.000' AS DateTime), N'tot', 1)
INSERT [dbo].[carts] ([cart_id], [customer_id], [cart_code], [cart_create_time], [cart_payment_time], [cart_note], [cart_status]) VALUES (N'c74b1810-6fa2-4965-b96c-188efef93d5b', N'a729dafd-f9be-48f1-acc0-72950bea4906', N'cart11', CAST(N'2022-07-05T00:00:00.000' AS DateTime), CAST(N'2023-06-07T00:00:00.000' AS DateTime), N'good', 1)
INSERT [dbo].[carts] ([cart_id], [customer_id], [cart_code], [cart_create_time], [cart_payment_time], [cart_note], [cart_status]) VALUES (N'757720a4-6d2b-4654-9f0f-34859e42737c', N'369085cc-e776-4ca3-852c-1701a9dc3469', N'cart02', CAST(N'2022-06-02T12:03:08.000' AS DateTime), CAST(N'2023-06-07T04:08:11.000' AS DateTime), N'kem', 1)
GO
INSERT [dbo].[colors] ([color_id], [color_code], [color_name], [color_status]) VALUES (N'43a027d3-fcf6-4ec7-8de7-11003e5ef6ff', N'col001', N'Xanh Rêu', 1)
INSERT [dbo].[colors] ([color_id], [color_code], [color_name], [color_status]) VALUES (N'217da5f1-dc77-4720-980f-222cde44f1ab', N'col002', N'Cam', 1)
INSERT [dbo].[colors] ([color_id], [color_code], [color_name], [color_status]) VALUES (N'45fad3e4-31da-4efb-a0c8-51f7c8f98423', N'col003', N'Xanh lá cây', 1)
GO
INSERT [dbo].[compartments] ([compartment_id], [compartment_code], [compartment_name], [compartment_status]) VALUES (N'a1a9f473-6243-4a26-8031-348f018a7c5b', N'com001', N'Ngăn xếp', 1)
INSERT [dbo].[compartments] ([compartment_id], [compartment_code], [compartment_name], [compartment_status]) VALUES (N'42353d9a-8ebc-4879-9c12-38ea292b1779', N'com13', N'Ngăn đơn 04', 1)
INSERT [dbo].[compartments] ([compartment_id], [compartment_code], [compartment_name], [compartment_status]) VALUES (N'f7585420-39ac-4310-acd9-54750d2ff1c1', N'com15', N'Ngăn nối tiếp 02', 1)
GO
INSERT [dbo].[customers] ([customer_id], [customer_points], [user_id], [customer_status]) VALUES (N'9ca6fb71-ac36-444c-85ed-025c36411af8', 17, N'd93e1ef8-c1b8-4370-b43c-ebd8562800ce', 0)
INSERT [dbo].[customers] ([customer_id], [customer_points], [user_id], [customer_status]) VALUES (N'369085cc-e776-4ca3-852c-1701a9dc3469', 65, N'eb965a1c-3f9d-4113-8f7d-805bb9dab903', 1)
INSERT [dbo].[customers] ([customer_id], [customer_points], [user_id], [customer_status]) VALUES (N'205c7163-1311-4ccf-a7c1-1b4b900cf814', 33, N'9e51fd46-08a6-4f20-be53-630ca5e286f7', 1)
GO
INSERT [dbo].[history_shift_bill] ([history_shift_bill_id], [bill_id], [shift_staff_id], [money], [history_shift_bill_note], [create_time], [history_shift_bill_status]) VALUES (N'49fb3857-90d0-461d-ae0a-02d71fe084e6', N'81a3c12f-0774-496b-b386-5fc0d15216fd', N'993dd17c-f62c-4e61-845d-34bdb9f0fce3', 55, N'normal', CAST(N'2023-09-09T06:30:30.000' AS DateTime), 1)
INSERT [dbo].[history_shift_bill] ([history_shift_bill_id], [bill_id], [shift_staff_id], [money], [history_shift_bill_note], [create_time], [history_shift_bill_status]) VALUES (N'cb8fdaa6-b8f6-44e6-bf43-1f78c5828174', N'dabb68b0-c331-404d-b88c-bdd086dbc59b', N'f0c027b9-605b-4854-9bcb-cc8d7986b89c', 277, N'medium', CAST(N'2022-12-30T08:20:20.000' AS DateTime), 1)
INSERT [dbo].[history_shift_bill] ([history_shift_bill_id], [bill_id], [shift_staff_id], [money], [history_shift_bill_note], [create_time], [history_shift_bill_status]) VALUES (N'e1a8a83d-2bb9-4475-99ea-240c5020b9fc', N'd3b62287-400d-4d2e-b05b-e23fdbf63280', N'ca97c2c6-0c37-4a8f-a74b-beefa1e08e3c', 378, N'medium', CAST(N'2023-01-10T20:10:30.000' AS DateTime), 1)
GO
INSERT [dbo].[images] ([image_id], [image_code], [image_name], [image_url], [product_detail_id], [isPrimary]) VALUES (N'c115eb47-de1e-4a7d-ad91-00786b4f132f', N'im0017', N'anhdep17', NULL, N'50a0d464-206e-4fb7-b2be-009a62451fc2', NULL)
INSERT [dbo].[images] ([image_id], [image_code], [image_name], [image_url], [product_detail_id], [isPrimary]) VALUES (N'a4544521-90e0-4da7-a1a9-05f3830cde8d', N'im99', N'anh dep99', NULL, N'957b3a21-b758-4560-886b-05305a263b80', NULL)
INSERT [dbo].[images] ([image_id], [image_code], [image_name], [image_url], [product_detail_id], [isPrimary]) VALUES (N'f1b3ac6e-96ea-434d-bae6-102e4f08a906', N'im020', N'anhdep20', NULL, N'e1ebdb69-d751-4b72-b574-0f02abea0279', NULL)
GO
INSERT [dbo].[materials] ([material_id], [material_code], [material_name], [material_status]) VALUES (N'f18793a7-4f51-43c0-87b1-105d695389dc', N'mat0010', N'Oxford Textile mật độ cao', 1)
INSERT [dbo].[materials] ([material_id], [material_code], [material_name], [material_status]) VALUES (N'0720a6c5-fd7b-44ff-b89f-10b4322e893e', N'mat002', N'Da PPV', 1)
INSERT [dbo].[materials] ([material_id], [material_code], [material_name], [material_status]) VALUES (N'e85b690e-50ff-4b0c-8e59-149828c6d7fd', N'ma25', N'Da nhân tạo vải', 1)
GO
INSERT [dbo].[producers] ([producer_id], [producer_code], [producer_name], [producer_status]) VALUES (N'409df61d-e1c0-408c-9562-181d67ff259b', N'pro005', N'Puma', 1)
INSERT [dbo].[producers] ([producer_id], [producer_code], [producer_name], [producer_status]) VALUES (N'ddf47eb5-8428-467d-a210-1f08b7f30a0a', N'pro002', N'Thuong Dinh', 1)
INSERT [dbo].[producers] ([producer_id], [producer_code], [producer_name], [producer_status]) VALUES (N'70291ffc-7cd1-4682-bda2-2a4ef22408a5', N'pr0016', N'overen', 1)
GO
INSERT [dbo].[products] ([product_id], [product_code], [product_name], [product_status], [brand_id]) VALUES (N'65084a33-11a6-47dc-a6b2-0e7ea97d690f', N'balo13', N'Balo unisex phom chữ nhật Classic Monogram', 1, N'e2441185-aa47-4a0e-be2c-183268555857')
INSERT [dbo].[products] ([product_id], [product_code], [product_name], [product_status], [brand_id]) VALUES (N'56c6e8fe-9e85-4247-b7fb-1266bcbdd6a8', N'balo 57', N'Balo mini quai đôi phối màu', 0, N'13816aea-2893-4aab-8524-22af48e0fae3')
INSERT [dbo].[products] ([product_id], [product_code], [product_name], [product_status], [brand_id]) VALUES (N'38c573fd-f6e9-45a7-bcbc-1305776086af', N'balo 27', N'Balo mini nhấn túi phụ', 0, N'88da4ee6-61f1-45fa-937c-53a8ffa04fdd')
GO
INSERT [dbo].[roles] ([role_id], [role_code], [role_name], [role_status]) VALUES (N'6e02bd45-81b8-4a5f-ac40-4b23e155bf83', N'nv', N'Nhân viên', 1)
INSERT [dbo].[roles] ([role_id], [role_code], [role_name], [role_status]) VALUES (N'304125aa-fc8a-4b40-bbe5-b5005887ebb0', N'user', N'Khách hàng', 1)
INSERT [dbo].[roles] ([role_id], [role_code], [role_name], [role_status]) VALUES (N'7580fa71-eb5c-49bc-8a8f-ba0fec5f8453', N'admin', N'Quản lý', 1)
GO
INSERT [dbo].[shift_staffs] ([shift_staff_id], [shift_staff_code], [shift_staff_start_time], [shift_staff_end_time], [shift_staff_create_date], [shift_first_money], [bill_total_money], [shift_total_money], [note], [shift_staff_status], [shift_id]) VALUES (N'ec32f462-7d4d-4fb4-9cc6-1358014ce5d6', N'sst004', CAST(N'2022-09-29T10:02:08.000' AS DateTime), CAST(N'2023-09-30T06:30:30.000' AS DateTime), CAST(N'2023-02-28' AS Date), 32, 104, 70, N'normal', 1, N'547a42e9-ee62-4d53-bf8b-8818d66ea94a')
INSERT [dbo].[shift_staffs] ([shift_staff_id], [shift_staff_code], [shift_staff_start_time], [shift_staff_end_time], [shift_staff_create_date], [shift_first_money], [bill_total_money], [shift_total_money], [note], [shift_staff_status], [shift_id]) VALUES (N'78c19f8a-a1ef-4e2f-be9d-2d891fc8aa7d', N'sst005', CAST(N'2022-11-29T11:09:08.000' AS DateTime), CAST(N'2022-12-01T13:17:20.000' AS DateTime), CAST(N'2023-11-04' AS Date), 12, 447, 80, N'normal', 1, N'164007d4-7ef0-460c-80e5-c2395c53a67e')
INSERT [dbo].[shift_staffs] ([shift_staff_id], [shift_staff_code], [shift_staff_start_time], [shift_staff_end_time], [shift_staff_create_date], [shift_first_money], [bill_total_money], [shift_total_money], [note], [shift_staff_status], [shift_id]) VALUES (N'993dd17c-f62c-4e61-845d-34bdb9f0fce3', N'sst08', CAST(N'2022-01-04T20:07:40.000' AS DateTime), CAST(N'2022-11-02T13:08:07.000' AS DateTime), CAST(N'2023-04-06' AS Date), 22, 662, 35, N'good', 1, N'98080abe-7e84-46c3-8405-75c172082b22')
GO
INSERT [dbo].[shifts] ([shift_id], [shift_code], [shift_start_time], [shift_end_time], [create_by], [shift_status], [note], [staff_id]) VALUES (N'37945a2b-fc33-40b6-a586-12cac69a0a7b', N'sh03', CAST(N'2022-03-04T09:08:09.000' AS DateTime), CAST(N'2022-10-02T12:20:20.000' AS DateTime), N'Oanh', 1, N'normal', N'c04ba1a9-1f49-4706-a4c5-28ca17144408')
INSERT [dbo].[shifts] ([shift_id], [shift_code], [shift_start_time], [shift_end_time], [create_by], [shift_status], [note], [staff_id]) VALUES (N'a4b11080-e64a-4d8b-aefd-1c6e3ecbc52c', N'sh02', CAST(N'2022-02-02T09:10:29.000' AS DateTime), CAST(N'2022-02-05T20:10:20.000' AS DateTime), N'Tuấn Anh', 1, N'medium', N'b4df7e41-0b3c-48eb-ad07-19f733c86d2c')
INSERT [dbo].[shifts] ([shift_id], [shift_code], [shift_start_time], [shift_end_time], [create_by], [shift_status], [note], [staff_id]) VALUES (N'1c89e26f-dbe2-467d-9d10-2ac0329c1c3e', N'sh10', CAST(N'2022-01-22T09:08:07.000' AS DateTime), CAST(N'2022-12-22T12:27:20.000' AS DateTime), N'Dự', 1, N'good', N'c63f420a-b3e6-4cac-8277-d06ac818b6c8')
GO
INSERT [dbo].[sizes] ([size_id], [size_code], [size_name], [size_length], [size_width], [size_height], [size_status]) VALUES (N'c6a8d370-ed5e-471a-b514-20712384fc96', N'si008', N'Size S', N'21', N'26', N'20', 1)
INSERT [dbo].[sizes] ([size_id], [size_code], [size_name], [size_length], [size_width], [size_height], [size_status]) VALUES (N'269b2536-de5e-4742-aa07-24852dc7c0e4', N'si002', N'Size XXXL', N'10', N'15', N'20', 1)
INSERT [dbo].[sizes] ([size_id], [size_code], [size_name], [size_length], [size_width], [size_height], [size_status]) VALUES (N'24388bbe-c9be-48f2-addd-30da9370fbb4', N'si12', N'Size L', N'18', N'20', N'11', 1)
GO
INSERT [dbo].[staffs] ([staff_id], [user_id], [staff_status]) VALUES (N'3896092b-1782-4973-92a8-0dde36f3a2d7', N'd4928a94-d62e-493b-9b1f-5e10e55a9c4d', 0)
INSERT [dbo].[staffs] ([staff_id], [user_id], [staff_status]) VALUES (N'b4df7e41-0b3c-48eb-ad07-19f733c86d2c', N'd93e1ef8-c1b8-4370-b43c-ebd8562800ce', 0)
INSERT [dbo].[staffs] ([staff_id], [user_id], [staff_status]) VALUES (N'c04ba1a9-1f49-4706-a4c5-28ca17144408', N'62bd7aaf-8a57-4757-a10e-beed44198085', 0)
GO
INSERT [dbo].[types] ([type_id], [type_code], [type_name], [type_status]) VALUES (N'c6d27765-635f-46e2-a12b-0459b292bfb0', N'type003', N'Balo Túi Kéo', 1)
INSERT [dbo].[types] ([type_id], [type_code], [type_name], [type_status]) VALUES (N'de603dbd-f9b3-4f45-995a-09da4f0a6b7d', N'type 006', N'Balo di lam', 1)
INSERT [dbo].[types] ([type_id], [type_code], [type_name], [type_status]) VALUES (N'514a41e6-d4e4-44a7-802f-13d1a6ad9195', N'type008', N'Balo túi hộp', 1)
GO
INSERT [dbo].[users] ([user_id], [full_name], [birthday], [account], [password], [phone_number], [email], [userinfo_status], [gender], [role_id], [address], [note]) VALUES (N'b609bc05-d994-4208-8419-539f56e48cb7', N'Vũ Văn Nguyên', CAST(N'2004-10-03' AS Date), N'admin009', N'helloworld', N'928392921', N'nguyenvv@gmail.com', 1, 1, N'7580fa71-eb5c-49bc-8a8f-ba0fec5f8453', N'hà nội', N'good')
INSERT [dbo].[users] ([user_id], [full_name], [birthday], [account], [password], [phone_number], [email], [userinfo_status], [gender], [role_id], [address], [note]) VALUES (N'3e4587f3-aff6-4200-98f3-5d5512aab203', N'Hoàng Thị Thu Diệp', CAST(N'2002-07-22' AS Date), N'admin001', N'tbdfbfbdf', N'99879789', N'huynhpv@gmail.com001', 1, 1, N'304125aa-fc8a-4b40-bbe5-b5005887ebb0', N'Nam Định', N'good')
INSERT [dbo].[users] ([user_id], [full_name], [birthday], [account], [password], [phone_number], [email], [userinfo_status], [gender], [role_id], [address], [note]) VALUES (N'd4928a94-d62e-493b-9b1f-5e10e55a9c4d', N'Nguyễn Quân', CAST(N'2023-08-18' AS Date), N'admin002', N'ytryrgd', N'354546456', N'huynhpv@gmail.com00', 1, 1, N'6e02bd45-81b8-4a5f-ac40-4b23e155bf83', N'Thái Bình', N'normal')
GO
INSERT [dbo].[voucher_bills] ([voucher_bill_id], [customer_id], [voucher_id], [bill_id], [before_price], [after_price], [discount_price], [create_date]) VALUES (N'6710bd0b-368f-4d6b-af52-052292c84283', N'205c7163-1311-4ccf-a7c1-1b4b900cf814', N'ae6eb766-e016-4093-9408-992076ef89a3', N'85fa5e5e-197f-4462-ae12-3e56488bf045', 600, 700, 650, CAST(N'2022-02-18T18:10:22.000' AS DateTime))
INSERT [dbo].[voucher_bills] ([voucher_bill_id], [customer_id], [voucher_id], [bill_id], [before_price], [after_price], [discount_price], [create_date]) VALUES (N'a0359898-41b3-4404-9e67-0acd4d518ae5', N'010f5248-db7b-47e1-bf3f-25da676448fe', N'7a84b438-5f19-44f8-938c-6c5893a8067d', N'45c29cfe-cec9-4073-a74e-fcd1a326f0cb', 40000, 30000, 2500, CAST(N'2022-02-12T08:10:20.000' AS DateTime))
INSERT [dbo].[voucher_bills] ([voucher_bill_id], [customer_id], [voucher_id], [bill_id], [before_price], [after_price], [discount_price], [create_date]) VALUES (N'81c0ad3c-8133-49d5-9c42-142c379cbfa1', N'5306817f-de96-4924-8db3-3558b7c311d3', N'cadb0c78-8f72-4516-93fc-b7a98735ca75', N'5eaacaf8-6e37-4880-adf3-695bfa085119', 300, 400, 350, CAST(N'2022-02-10T08:10:20.000' AS DateTime))
GO
INSERT [dbo].[vouchers] ([id], [voucher_code], [voucher_name], [discount_price], [voucher_create_date], [voucher_type], [points_to_receive], [payment_type], [voucher_amount], [voucher_start_time], [voucher_end_time], [note], [voucher_status], [voucher_bill_id]) VALUES (N'4da3f131-bac8-4804-be5d-05833e184614', N'vc24', N'giam50%', 45, CAST(N'2022-08-09T10:11:07.000' AS DateTime), N'giam truc tiep', 4446, N'trực tiếp', 46, CAST(N'2022-01-17T08:25:10.000' AS DateTime), CAST(N'2023-11-09T18:11:09.000' AS DateTime), N'normal', 1, N'12a093d5-cf2d-4033-8945-a84fac87bcff')
INSERT [dbo].[vouchers] ([id], [voucher_code], [voucher_name], [discount_price], [voucher_create_date], [voucher_type], [points_to_receive], [payment_type], [voucher_amount], [voucher_start_time], [voucher_end_time], [note], [voucher_status], [voucher_bill_id]) VALUES (N'd74ff8bb-7cab-4b82-aa6a-0699a2a1823f', N'vc34', N'giam 30%', 466, CAST(N'2022-02-28T10:41:07.000' AS DateTime), N'giam online', 6366, N'online', 366, CAST(N'2022-01-07T08:35:10.000' AS DateTime), CAST(N'2023-08-09T18:21:09.000' AS DateTime), N'medium', 1, N'8386eb0c-c0c2-4b7b-b0dd-c20a78cb0e3c')
INSERT [dbo].[vouchers] ([id], [voucher_code], [voucher_name], [discount_price], [voucher_create_date], [voucher_type], [points_to_receive], [payment_type], [voucher_amount], [voucher_start_time], [voucher_end_time], [note], [voucher_status], [voucher_bill_id]) VALUES (N'9563af94-7940-4216-a411-0a95a4ea8764', N'vc33', N'giam 30%', 477, CAST(N'2022-02-24T10:11:07.000' AS DateTime), N'giam online', 3642, N'online', 366, CAST(N'2022-01-27T18:05:10.000' AS DateTime), CAST(N'2023-08-05T18:31:09.000' AS DateTime), N'medium', 1, N'cae40954-79c4-45a2-bd7c-cd64c98b148b')
GO
ALTER TABLE [dbo].[bill_details] ADD  CONSTRAINT [DF_bill_detail_id]  DEFAULT (newid()) FOR [bill_detail_id]
GO
ALTER TABLE [dbo].[bills] ADD  CONSTRAINT [DF_bill_id]  DEFAULT (newid()) FOR [bill_id]
GO
ALTER TABLE [dbo].[buckle_types] ADD  CONSTRAINT [DF_buckle_type_id]  DEFAULT (newid()) FOR [buckle_type_id]
GO
ALTER TABLE [dbo].[cart_details] ADD  CONSTRAINT [DF_cart_detail_cart_id]  DEFAULT (newid()) FOR [cart_id]
GO
ALTER TABLE [dbo].[carts] ADD  CONSTRAINT [DF_cart_id]  DEFAULT (newid()) FOR [cart_id]
GO
ALTER TABLE [dbo].[colors] ADD  CONSTRAINT [DF_color_id]  DEFAULT (newid()) FOR [color_id]
GO
ALTER TABLE [dbo].[compartments] ADD  CONSTRAINT [DF_compartment_id]  DEFAULT (newid()) FOR [compartment_id]
GO
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [DF_customer_id]  DEFAULT (newid()) FOR [customer_id]
GO
ALTER TABLE [dbo].[history_shift_bill] ADD  CONSTRAINT [DF_history_shift_bill_id]  DEFAULT (newid()) FOR [history_shift_bill_id]
GO
ALTER TABLE [dbo].[images] ADD  CONSTRAINT [DF_image_id]  DEFAULT (newid()) FOR [image_id]
GO
ALTER TABLE [dbo].[materials] ADD  CONSTRAINT [DF_material_id]  DEFAULT (newid()) FOR [material_id]
GO
ALTER TABLE [dbo].[producers] ADD  CONSTRAINT [DF_producer_id]  DEFAULT (newid()) FOR [producer_id]
GO
ALTER TABLE [dbo].[product_details] ADD  CONSTRAINT [DF_balo_detail_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF_balo_id]  DEFAULT (newid()) FOR [product_id]
GO
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [DF_role_id]  DEFAULT (newid()) FOR [role_id]
GO
ALTER TABLE [dbo].[shift_staffs] ADD  CONSTRAINT [DF_shift_staff_id]  DEFAULT (newid()) FOR [shift_staff_id]
GO
ALTER TABLE [dbo].[shifts] ADD  CONSTRAINT [DF_shift_id]  DEFAULT (newid()) FOR [shift_id]
GO
ALTER TABLE [dbo].[sizes] ADD  CONSTRAINT [DF_size_id]  DEFAULT (newid()) FOR [size_id]
GO
ALTER TABLE [dbo].[staffs] ADD  CONSTRAINT [DF_staff_id]  DEFAULT (newid()) FOR [staff_id]
GO
ALTER TABLE [dbo].[types] ADD  CONSTRAINT [DF_type_id]  DEFAULT (newid()) FOR [type_id]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_user_id]  DEFAULT (newid()) FOR [user_id]
GO
ALTER TABLE [dbo].[voucher_bills] ADD  CONSTRAINT [DF_voucher_bill_id]  DEFAULT (newid()) FOR [voucher_bill_id]
GO
ALTER TABLE [dbo].[vouchers] ADD  CONSTRAINT [DF_voucher_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[bill_details]  WITH CHECK ADD  CONSTRAINT [FK_bill_detail_balo_detail] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_details] ([id])
GO
ALTER TABLE [dbo].[bill_details] CHECK CONSTRAINT [FK_bill_detail_balo_detail]
GO
ALTER TABLE [dbo].[bill_details]  WITH CHECK ADD  CONSTRAINT [FK_bill_detail_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
GO
ALTER TABLE [dbo].[bill_details] CHECK CONSTRAINT [FK_bill_detail_bill]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD  CONSTRAINT [FK_bill_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bills] CHECK CONSTRAINT [FK_bill_customer]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD  CONSTRAINT [FK_bill_staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[staffs] ([staff_id])
GO
ALTER TABLE [dbo].[bills] CHECK CONSTRAINT [FK_bill_staff]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD  CONSTRAINT [FK_bill_voucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bills] CHECK CONSTRAINT [FK_bill_voucher]
GO
ALTER TABLE [dbo].[cart_details]  WITH CHECK ADD  CONSTRAINT [FK_cart_detail_balo_detail] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_details] ([id])
GO
ALTER TABLE [dbo].[cart_details] CHECK CONSTRAINT [FK_cart_detail_balo_detail]
GO
ALTER TABLE [dbo].[cart_details]  WITH CHECK ADD  CONSTRAINT [FK_cart_detail_cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([cart_id])
GO
ALTER TABLE [dbo].[cart_details] CHECK CONSTRAINT [FK_cart_detail_cart]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_cart_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_cart_customer]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customer_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customer_user]
GO
ALTER TABLE [dbo].[history_shift_bill]  WITH CHECK ADD  CONSTRAINT [FK_history_shift_bill_shift_staff] FOREIGN KEY([shift_staff_id])
REFERENCES [dbo].[shift_staffs] ([shift_staff_id])
GO
ALTER TABLE [dbo].[history_shift_bill] CHECK CONSTRAINT [FK_history_shift_bill_shift_staff]
GO
ALTER TABLE [dbo].[images]  WITH CHECK ADD  CONSTRAINT [FK_image_balo_detail] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_details] ([id])
GO
ALTER TABLE [dbo].[images] CHECK CONSTRAINT [FK_image_balo_detail]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_buckle_type] FOREIGN KEY([buckle_type_id])
REFERENCES [dbo].[buckle_types] ([buckle_type_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [FK_product_detail_buckle_type]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_color] FOREIGN KEY([color_id])
REFERENCES [dbo].[colors] ([color_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [FK_product_detail_color]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_compartment] FOREIGN KEY([compartment_id])
REFERENCES [dbo].[compartments] ([compartment_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [FK_product_detail_compartment]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_material] FOREIGN KEY([material_id])
REFERENCES [dbo].[materials] ([material_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [FK_product_detail_material]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_producer] FOREIGN KEY([producer_id])
REFERENCES [dbo].[producers] ([producer_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [FK_product_detail_producer]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [FK_product_detail_product]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_size] FOREIGN KEY([size_id])
REFERENCES [dbo].[sizes] ([size_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [FK_product_detail_size]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_type] FOREIGN KEY([type_id])
REFERENCES [dbo].[types] ([type_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [FK_product_detail_type]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_balo_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_balo_brand]
GO
ALTER TABLE [dbo].[shift_staffs]  WITH CHECK ADD  CONSTRAINT [FK_shift_staff_shift] FOREIGN KEY([shift_id])
REFERENCES [dbo].[shifts] ([shift_id])
GO
ALTER TABLE [dbo].[shift_staffs] CHECK CONSTRAINT [FK_shift_staff_shift]
GO
ALTER TABLE [dbo].[shifts]  WITH CHECK ADD  CONSTRAINT [FK_shift_staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[staffs] ([staff_id])
GO
ALTER TABLE [dbo].[shifts] CHECK CONSTRAINT [FK_shift_staff]
GO
ALTER TABLE [dbo].[staffs]  WITH CHECK ADD  CONSTRAINT [FK_staff_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[staffs] CHECK CONSTRAINT [FK_staff_user]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_userInfo_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_userInfo_role]
GO
ALTER TABLE [dbo].[voucher_bills]  WITH CHECK ADD  CONSTRAINT [FK_voucher_bill_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
GO
ALTER TABLE [dbo].[voucher_bills] CHECK CONSTRAINT [FK_voucher_bill_bill]
GO
ALTER TABLE [dbo].[voucher_bills]  WITH CHECK ADD  CONSTRAINT [FK_voucher_bill_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[voucher_bills] CHECK CONSTRAINT [FK_voucher_bill_customer]
GO
ALTER TABLE [dbo].[voucher_bills]  WITH CHECK ADD  CONSTRAINT [FK_voucher_bill_voucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([id])
GO
ALTER TABLE [dbo].[voucher_bills] CHECK CONSTRAINT [FK_voucher_bill_voucher]
GO
