.headerStyle {
  border-left: 270px;
  color: #fff;
  height: auto;
  padding-inline: 0;
  line-height: 64px;
  background-color: #fff;
  padding: 30px;
}
.footerStyle {
  border-left: 270px;
  color: black;
  background-color: #fff;
}
.layoutContent {
  margin-left: 260px;
  flex-grow: 1;
}
.layout {
  height: 100vh;
  background: #f4f3f4;
}
.sider {
  background: #fff;
  z-index: 999;
  position: fixed;
  overflow-y: auto;
  width: 260px;
}
