.header {
  height: fit-content;
  background-color: white;

}
.content {
  height: fit-content;
  background-color: white;

}
.footer {
  background-color: white;
}
.container-fluid {
  background-color: white;
}

.ul {
  list-style: none;
  // line-height: 1;
  // justify-content: center;
}
.ul .li {
  float: left;
  font-size: 15pt;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
.duongDan {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  margin-bottom: 10px;
}
