.header {
  height: fit-content;
  background-color: #fff;
}
.content {
  height: fit-content;
  background-color: #fff;
}
.footer {
  // height: fit-content;
  // background-color: #fff;
  background-color: white;
}
.container-fluid {
  background-color: white;
}
.container-fluid {
  background-color: white;
}
