
.continue_cart {
  background: #cac2c2;

  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 130px;
  margin-top: 15px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
.continue_cart:hover {
  background-color: rgb(238, 85, 85);
  color: white;
}

a {
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
