.carouselContent {
  text-align: center;
  .item {
    user-select: none;
    &:hover {
      cursor: grab;
    }
    height: fit-content;
    color: #fff;
    text-align: center;
    justify-content: center;

    // background: #364d79;
    background: white;
    img {
      text-align: center;

      // width: 100%;
      width: 90%;
      margin-left: 5%;
      height: 600px;
      line-height: 1;
    }
  }
}
.collectionBanner {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 30px 50px;
}
