.carouselHeader {
  height: 30px;
  padding: 5px;
  font-family: ttcommons-light;
  background-color: rgb(99, 240, 240);

  background-color: rgb(208, 238, 238);

  text-align: center;
  color: black;
  user-select: none;
  :hover {
    cursor: grab;
  }
  .highlightText {
    color: red;
    font-size: 11pt;
  }

  .highlightLink {
    color: red;
    cursor: pointer;
    text-decoration: none;
  }
}
