.carouselHeader {
  height: 40px;
  padding: 10px;
  font-family: ttcommons-light;
  // background-color: rgb(99, 240, 240);

  background-color: rgb(15, 16, 16);

  text-align: center;
  color: white;
  user-select: none;
  :hover {
    cursor: grab;
  }
  .highlightText {
    color: red;
    font-size: 11pt;
  }

  .highlightLink {
    color: red;
    cursor: pointer;
    text-decoration: none;
  }
  p {
    color: white;
  }
}
