{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}
//Intead of Import this: import App from '../App.js'
// Replace with: import App from '~/App.js'