.header {
  height: fit-content;
  background-color: #fff;
}
.content {
  height: fit-content;
  background-color: white;
}
.footer {
  height: fit-content;
  background-color: white;
}
.row {
  margin-bottom: 30px;
}
.container {
  background-color: white;
}

.container-fluid {
  background-color: white;
}
