.header {
  height: fit-content;
  background-color: #fff;
}
.content {
  height: fit-content;
  background-color: white;
}
.footer {
  height: fit-content;
  background-color: white;
}

.container {
  background-color: white;
}

.container-fluid {
  background-color: white;
}
.row {
  margin-bottom: 30px;
}
.col-4 {
  width: 20%;
}
.col-8 {
  width: 80%;
}

.ul {
  list-style: none;
  line-height: 1;
  justify-content: center;
}
.ul .li {
  float: left;
  font-size: 15pt;
  color: rgb(187, 15, 15);
  font-family: 'Times New Roman', Times, serif;
}
.duongDan {
  justify-content: center;
  background-color: white;
  padding-bottom: 15px;
  padding-left: 800px;
}
