.footer {
  // position: fixed;
  background-color: white;
  .mainFooter {
  background-color: white;

    .container1 {
      background-color: white;
      .checkedImg {
        width: 150px;
      }

      ul {
        padding: 10px;
        display: flex;
        flex-direction: row; /* Đặt hướng dọc */
        justify-content: center; /* Căn giữa theo hướng ngang */
        align-items: center;
        list-style-type: none;
        li {
          font-size: medium;
          font-weight: bolder;
          margin: 0px 30px;
        }
      }
    }
  }
  .bottomFooter {
    text-align: center;
    background-color: white;
  }
}
.container_fluid {
  background-color: white;
}
