.navContent {
  padding-top: 20px;
  background-color: white;

  .centeredMenu {
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;

      .ant-menu-title-content {
        font-size: 23px;
      }
    }
  }
}
.ant-menu-overflow-item {
  margin: 0px 28px;
}
.submenu {
  color: white;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
}
.submenu:hover {
  background-color: white;
  color: black;
  border-radius: 32px;
  border: 0.5px solid black;
}
