.container {
  background-color: white;
}
.price {
  color: rgb(141, 27, 27);
  font-size: 18pt;

  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.productTitle {
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif, Times, serif;
  font-weight: normal inherit;
  color: black;
}
.scrollableList {
  display: flex;
  flex-wrap: wrap;
  gap: 70px; /* Khoảng cách giữa các sản phẩm */
  max-height: 800px; /* Đặt chiều cao tối đa của vùng hiển thị danh sách */
  overflow-y: auto; /* Tạo thanh cuộn khi nội dung vượt quá kích thước */
}

.contentImage {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}

.cartIcon {
  position: absolute;
  font-size: 30px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Ẩn ban đầu */
  transition: opacity 0.3s ease-in-out;
  color: white;
  background-color: brown;
  border-radius: 20% 20% 20% 20%;
}

.contentImage:hover .cartIcon {
  opacity: 1; /* Hiển thị khi hover */
}
