.detail-product {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

.image_main {
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
  display: flex;
}
.image_child {
  padding: 10px 10px;
}
.container {
  max-width: 1600px;
  width: 85%;
}
.custom-row {
  display: table !important;
}
.col-x1-7 {
  float: left;
  width: 58.33333%;
}
.title_product {
  font-size: 36px;
  border-bottom: 1px solid #000000;
  line-height: initial;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.price {
  border-bottom: 1px solid #000000;
  line-height: initial;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.amount {
  color: #ff529c;
  font-weight: 200 !important ;
}
.group_color {
  border-bottom: 1px solid #000000;
  line-height: initial;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 25px;
  font-size: 17pt;
}
.currency {
  color: #ff529c;
  font-weight: 200 !important;
  font-weight: bold;
}

.group-attr {
  font-family: GARAMONDPREMRPRO-IT;
  float: left;
  display: flex;
}
.book_number {
  float: left;
  display: flex;
  border: 1px solid gray;
  height: 30px;
  // border-radius: 20%;
  border-radius: 32px;
}
.input_amount {
  width: 50px;
  text-align: center;
  border: none;
}
.item_change1 {
  padding: 0 10px;
  border-right: 1px gray solid;
}

.item_change2 {
  padding: 0 10px;
  border-left: 1px gray solid;
}
.item_change1:hover {
  background-color: #3498db;
  border-radius: 32px;
  cursor: pointer;
}
.item_change2:hover {
  background-color: #3498db;

  border-radius: 32px;
  cursor: pointer;
}

.button_buy_now {
  background: rgb(41, 152, 188);
  color: white;
  margin-top: 15px;
  padding: 15px 0;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 50px;
  font-size: 23px;
}
.button_buy_now:hover {
  background: rgb(101, 195, 226);
}
.content_product_pc {
  border-color: rgb(41, 152, 188) !important;
  font-size: 20px;
  margin: 50px 0px;
}
.group_content_product {
  border: 1px solid rgb(41, 152, 188);
  width: 700px;
  border-radius: 32px;
}
.head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 32px;
  text-align: center;
}
.active {
  background-color: rgb(41, 152, 188);
  border-radius: 32px;
  width: 95%;
  color: white;
  margin-top: 20px;
}
.body_ct ul li {
  list-style: none;
}
.productDetailItem {
  display: flex;
  justify-content: space-between;
}

.label {
  flex: 3; /* Make the label take as much space as possible */
  margin-right: 10px; /* Add some margin between the label and the brand name */
}

.labelName {
  flex: 2; /* Make the brand name take twice as much space as the label */
}

.body {
  padding: 15px 20px;
}
.body_ct {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
li {
  border-color: #ff529c !important;
}
